*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}


/* Navigation Bar */

.logo{
    width:20%;
    display: flex;
    justify-content:center;
    align-items: center;
    top: 0;
    cursor: pointer;
}

.logo img{
    width:40%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color:white;
    box-shadow: 0 2px 4px 0 rgb(255 165 0);
}

.nav-list{
    width: 80%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 30px 30px;
    text-align: center;
}

.nav-list li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-list li a:hover{
    text-decoration: none;
    color:rgb(255 165 0);
}


/* Body */

.background{
    background-image: url("../images/bg.png");
    /* background: rgba(0,0,0,0.5) url("/assets/images/bg.png"); */
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-position: center;
    /* background-blend-mode: darken; */
    background-color: black;
        background-size:contain;
}

.fisrstsection{
    height: calc(100vh - 95px);
}

.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175%;
}

.btn{
    border: 2px solid white;
    background-color:rgb(255 165 0);
    color: white;
    padding: 15px 30px;
    /* margin: 20px; */
    border-radius:40px;
    font-size:20px;
}

.btn:hover{
    color: black;
    cursor: pointer;
}

/* About */

.secRight {
    margin-top:50px; 
}

.sectionTag{
    font-size:30px;
    margin-bottom:20px;
    text-transform:uppercase;
}

.subTag{
    font-size:18px;
}

.paras{
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;;
}

.thumbnail img{
    width: 400px;
    border: 2px solid rgb(255 165 0);
    border-radius: 50px;
    margin: 20px;
}

.content{
    /* height: 500px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
}

.subheading{
    text-align: center;
    font-size:50px;
    margin: 20px;
    padding: 30px
}


/* Contact */

.contact{
    height: 950px;
}

.form{
    max-width: 40%;
    margin: auto;
}

.form-input{
    width: 100%;
    margin: 20px 0;
    padding:10px;
    font-size:18px;
    border: 2px solid rgb(255 165 0);
    border-radius:20px
}

hr{
    border: 2px solid rgb(255 165 0);
}

.submit-btn{
    margin: 10px;
    text-align: center;
    border: 2px solid black;
}


/* Footer */

.footer{
    text-align: center;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    padding:5px;
}

.footer-bg{
    background-color:rgb(255 165 0);
}